.container{
  padding: 0;
  margin: 0;
  
}
.sub-container{
  width: 30vw;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20vh 35% 20vh 45% ;
  line-height: 20px;
  
}

.image{
  width: 100%;
  height: auto;
}
  

.profile-pic{
  height: 30%;
  width: 30%;
  border: none;
  border-radius: 10px;
}

.main_name{
  font-weight: 700;
  font-size: 3rem;
  color: rgb(22, 167, 224);
  

}
.address p {
  color: grey;
}
.address h3{
  font-size: 3vh;
}
  
.address{
  line-height: 5px;
}
.blood{
  line-height: 5px;
}
.blood p{
  color: gray;
}
.blood h3{
  font-size: 3vh;
}
.age{
  line-height: 5px;
}
.age p{
  color: rgb(142, 141, 141);
}
.age h3{
  font-size: 3vh;
}
  
  

